<div id="fb-root"></div>
<!--<script>-->
<!--    window.fbAsyncInit = function() {-->
<!--        FB.init({-->
<!--            appId            : '2262704483961309',-->
<!--            autoLogAppEvents : true,-->
<!--            xfbml            : true,-->
<!--            version          : 'v3.3'-->
<!--        });-->
<!--    };-->
<!--</script>-->
<!--<script async defer src="https://connect.facebook.net/vi_VN/sdk.js"></script>-->
<div class="wrapper">
<!--    <div class="sidebar" style="background-color: transparent; color: transparent">-->
<!--        TO DO PUT LEFT CONTENT HERE...-->
<!--    </div>-->
    <div class="custom-sidebar" style="background-color: transparent; color: transparent">
        <!--    TO DO PUT LEFT CONTENT HERE...-->
    </div>
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card ">
                            <div class="card-header ">
<!--                                <h4 class="card-title">Email Statistics</h4>-->
<!--                                <p class="card-category">Last Campaign Performance</p>-->
                            </div>
                            <div class="card-body" style="margin-top: 0">
                                <div *ngIf="item.images">
                                    <img style="max-width: 400px; max-height: 300px" src="http://localhost:8888/{{ displayingImage.name }}" alt="image of item">
                                </div>
                            </div>
                            <div *ngIf="item.images" class="card-footer">
                                <div *ngFor="let img of item.images; let idx = index" class="col-3 active" style="border-style: double" (click)="viewImage(idx)">
                                    <img style="max-width: 100px; max-height: 120px" src="http://localhost:8888/{{ img.name }}" alt="image of item">
                                </div>
                                <hr>
                                <div class="stats">
<!--                                    <i class="fa fa-history"></i> Updated 3 minutes ago-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="card-header ">
                                <h4 class="card-title">Chi tiết mặt hàng</h4>
<!--                                <p class="card-category">24 Hours performance</p>-->
                            </div>
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-4">
                                        <p>Tên mặt hàng: </p>
                                    </div>
                                    <div class="col-8">
                                        <p>{{item.name}}</p>
                                    </div>
                                    <div class="col-4">
                                        <p>Mô tả: </p>
                                    </div>
                                    <div class="col-8">
                                        <p>{{item.desc}}</p>
                                    </div>
                                    <div class="col-4">
                                        <p>Tình trạng: </p>
                                    </div>
                                    <div class="col-8">
                                        <p *ngIf="item.state">Mới 100%</p>
                                        <p *ngIf="!item.state">Đã qua sử dụng</p>
                                    </div>
                                    <div class="col-4">
                                        <p>Địa chỉ: </p>
                                    </div>
                                    <div class="col-8">
                                        <p>{{item.address}}</p>
                                    </div>
                                    <div class="col-4">
                                        <p>Cách thức giao hàng: </p>
                                    </div>
                                    <div class="col-8">
                                        <p>{{item.deliveryWay}}</p>
                                    </div>
                                    <div class="col-4">
                                        <p>Số ĐT liên hệ: </p>
                                    </div>
                                    <div class="col-8">
                                        <p>{{item.phone}}</p>
                                    </div>
                                    <div class="col-4">
                                        <p>Ngày đăng: </p>
                                    </div>
                                    <div class="col-8">
                                        <p>{{item.createdDate | date: 'short'}}</p>
                                    </div>
                                    <div class="col-4">
                                        <p>Đăng bởi: </p>
                                    </div>
                                    <div class="col-8" *ngIf="item.user">
                                        <p>{{item.user.name}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <div class="legend">
                                    <h2 class="card-title text-warning">{{item.price}}đ</h2>
<!--                                    <i class="fa fa-circle text-info"></i> Open-->
<!--                                    <i class="fa fa-circle text-danger"></i> Click-->
<!--                                    <i class="fa fa-circle text-warning"></i> Click Second Time-->
                                </div>
                                <hr>
                                <div class="stats">
<!--                                    <i class="fa fa-history"></i> Updated 3 minutes ago-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="card-header ">
                                <h4 class="card-title">Các bình luận gần đây</h4>
                                <p class="card-category">Hãy đăng nhập bằng Facebook để có thể bình luận...</p>
                            </div>
                            <div class="card-body">
<!--                                <div id="chartActivity" class="ct-chart"></div>-->
                                <div class="fb-comments" data-href="https://minimarket.vn"
                                     data-width="" data-numposts="5"
                                        data-order-by="reverse_time">
                                </div>
                            </div>
                            <div class="card-footer ">
                                <div class="legend">
                                    <i class="fa fa-circle text-info"></i> Tesla Model S
                                    <i class="fa fa-circle text-danger"></i> BMW 5 Series
                                </div>
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-check"></i> Data information certified
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card  card-tasks" *ngIf="item.user">
                            <div class="card-header ">
                                <h4 class="card-title">Các mặt hàng khác của {{item.user.name}}</h4>
                                <p class="card-category"></p>
                            </div>
                            <div class="card-body ">
                                <div class="table-full-width">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-link">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-link">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="" checked>
                                                        <span class="form-check-sign"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-link">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-link">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="" checked>
                                                        <span class="form-check-sign"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-link">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-link">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" checked>
                                                        <span class="form-check-sign"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-link">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-link">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Read "Following makes Medium better"</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-link">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-link">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="" disabled>
                                                        <span class="form-check-sign"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Unfollow 5 enemies from twitter</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-link">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-link">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav>
                    <ul class="footer-menu">
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-center">
                        ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                    </p>
                </nav>
            </div>
        </footer>
    </div>
</div>
