<div class="screen">
    <div class="background">
        <div class="filter">
            <div>
                <button type="button" class="btn-success" (click)="signInWithFB()">Facebook</button>
            </div>
            <div class="filter_option">
                <h3>Bộ lọc</h3>
            </div>
            <div class="filter_option">
                <h3>Giá</h3>
                <div class="filter_place">
                    <input type="checkbox" [(ngModel)]="prices.under100" (change)="get_filter()"> Under 100.000<br>
                    <input type="checkbox" [(ngModel)]="prices.from100_1000" (change)="get_filter()"> 100.000 - 1000.000<br>
                    <input type="checkbox" [(ngModel)]="prices.from1000_10000" (change)="get_filter()"> 1000.000 - 10.000.000<br>
                    <input type="checkbox" [(ngModel)]="prices.over10000" (change)="get_filter()"> Over 10.000.000<br>
                </div>
            </div>
            <div class="split_horizontal"></div>
            <div class="filter_option">
                <h3>Loại</h3>
                <div class="filter_place">
                    <input type="checkbox" [(ngModel)]="types.quan" (change)="get_filter()">Quần<br>
                    <input type="checkbox" [(ngModel)]="types.ao" (change)="get_filter()">Áo<br>
                    <input type="checkbox" [(ngModel)]="types.giay_dep" (change)="get_filter()">Giày dép<br>
                </div>
            </div>
            <div class="split_horizontal"></div>
            <div class="filter_option">
                <h3>Trạng thái</h3>
                <div class="filter_place">
                    <input type="checkbox" [(ngModel)]="statuss.moi" (change)="get_filter()">Còn mới 100%<br>
                    <input type="checkbox" [(ngModel)]="statuss.cu" (change)="get_filter()">Đã qua sử dụng<br>
                </div>
            </div>
            <div class="filter_option">
                <h3>Tình trạng</h3>
                <div class="filter_place">
                    <input type="checkbox" [(ngModel)]="states.conhang" (change)="get_filter()">Còn hàng<br>
                    <input type="checkbox" [(ngModel)]="states.hethang" (change)="get_filter()">hết hàng<br>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="sort">
                <div class="priority">
                    <p>Sort: </p>
                </div>
                <div class="priority">
                    <p [ngClass]="Sort.name === true ? 'gray_background' : 'white_background'" (click)="get_sort(1)">Name</p>
                </div>
                <div class="priority">
                    <p [ngClass]="Sort.date === true ? 'gray_background' : 'white_background'" (click)="get_sort(2)">New Date</p>
                </div>
                <div class="priority">
                    <p [ngClass]="Sort.price_low === true ? 'gray_background' : 'white_background'" (click)="get_sort(3)">Low price</p>
                </div>
                <div class="priority">
                    <p [ngClass]="Sort.price_high === true ? 'gray_background' : 'white_background'" (click)="get_sort(4)">High price</p>
                </div>
            </div>
            <div class="split_horizontal"></div>
            <div *ngFor="let item of items">
                <app-item-card [item]="item"></app-item-card>
                <div></div>
            </div>
            <div *ngIf="max_item === 0">
                <p>There is no result for your search</p>
            </div>
            <div *ngIf="max_item !== 0" class="page">
                <ul class="pagination justify-content-center">
                    <li [ngClass]="current_page === 1 ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" href="#" aria-label="First page" (click)="first_page()">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">First Page</span>
                        </a>
                    </li>
                    <li [ngClass]="current_page === 1 ? 'page-item disabled' : 'page-item'"><a class="page-link" href="#" (click)="previous_page()">Previous</a></li>
                    <div *ngFor="let page of list_page" >
                        <li [ngClass]="current_page === page ? 'page-item active' : 'page-item'"><a class="page-link" href="#" (click)="set_page(page)">{{ page }}</a></li>
                    </div>
                    <li [ngClass]="current_page === number_of_page ? 'page-item disabled' : 'page-item'"><a class="page-link" href="#" (click)="next_page()">Next</a></li>
                    <li [ngClass]="current_page === number_of_page ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" href="#" aria-label="Last page" (click)="last_page()">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Last Page</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
