<div class="container">
<!--    <div class="header" id="home">-->
<!--        <div class="header-para">-->
<!--            <a [routerLink]="['/item/new']">Add new item...</a>-->
<!--        </div>-->
<!--        <ul class="header-in">-->
<!--            <li><a href="account.html">MY ACCOUNT</a> </li>-->
<!--            <li ><a href="contact.html" > CONTACT US</a></li>-->
<!--        </ul>-->
<!--        <div class="clearfix"> </div>-->
<!--    </div>-->
    <div class="header-top" id="headerTop">
        <div class="logo">
            <a href="index.html"><img src="../../content/images/logo.png" alt="" ></a>
        </div>
        <div class="header-top-on">
            <ul class="social-in">
                <li>
                    <a href="#">
                        <i> </i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="ic"> </i>
                    </a>
                </li>
                <li (click)="signInWithFB()">
                    <a>
                        <i class="ic1"> </i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ic2"> </i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ic3"> </i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="header-bottom">
        <div class="top-nav">

            <ul class="megamenu skyblue">
                <li class="active grid"><a  href="index.html">Products</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <ul>
                                        <li><a href="store.html">Accessories</a></li>
                                        <li><a href="store.html">Bags</a></li>
                                        <li><a href="store.html">Caps & Hats</a></li>
                                        <li><a href="store.html">Hoodies & Sweatshirts</a></li>
                                        <li><a href="store.html">Jackets & Coats</a></li>
                                        <li><a href="store.html">Jeans</a></li>
                                        <li><a href="store.html">Jewellery</a></li>
                                        <li><a href="store.html">Jumpers & Cardigans</a></li>
                                        <li><a href="store.html">Leather Jackets</a></li>
                                        <li><a href="store.html">Long Sleeve T-Shirts</a></li>
                                        <li><a href="store.html">Loungewear</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <ul>
                                        <li><a href="store.html">Shirts</a></li>
                                        <li><a href="store.html">Shoes, Boots & Trainers</a></li>
                                        <li><a href="store.html">Shorts</a></li>
                                        <li><a href="store.html">Suits & Blazers</a></li>
                                        <li><a href="store.html">Sunglasses</a></li>
                                        <li><a href="store.html">Sweatpants</a></li>
                                        <li><a href="store.html">Swimwear</a></li>
                                        <li><a href="store.html">Trousers & Chinos</a></li>
                                        <li><a href="store.html">T-Shirts</a></li>
                                        <li><a href="store.html">Underwear & Socks</a></li>
                                        <li><a href="store.html">Vests</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Popular Brands</h4>
                                    <ul>
                                        <li><a href="store.html">Levis</a></li>
                                        <li><a href="store.html">Persol</a></li>
                                        <li><a href="store.html">Nike</a></li>
                                        <li><a href="store.html">Edwin</a></li>
                                        <li><a href="store.html">New Balance</a></li>
                                        <li><a href="store.html">Jack & Jones</a></li>
                                        <li><a href="store.html">Paul Smith</a></li>
                                        <li><a href="store.html">Ray-Ban</a></li>
                                        <li><a href="store.html">Wood Wood</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a class="pink"  href="404.html">ideas</a></li>
                <li class="grid"><a  href="#">Brands</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <ul>
                                        <li><a href="store.html">Accessories</a></li>
                                        <li><a href="store.html">Bags</a></li>
                                        <li><a href="store.html">Caps & Hats</a></li>
                                        <li><a href="store.html">Hoodies & Sweatshirts</a></li>
                                        <li><a href="store.html">Jackets & Coats</a></li>
                                        <li><a href="store.html">Jeans</a></li>
                                        <li><a href="store.html">Jewellery</a></li>
                                        <li><a href="store.html">Jumpers & Cardigans</a></li>
                                        <li><a href="store.html">Leather Jackets</a></li>
                                        <li><a href="store.html">Long Sleeve T-Shirts</a></li>
                                        <li><a href="store.html">Loungewear</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <ul>
                                        <li><a href="store.html">Shirts</a></li>
                                        <li><a href="store.html">Shoes, Boots & Trainers</a></li>
                                        <li><a href="store.html">Shorts</a></li>
                                        <li><a href="store.html">Suits & Blazers</a></li>
                                        <li><a href="store.html">Sunglasses</a></li>
                                        <li><a href="store.html">Sweatpants</a></li>
                                        <li><a href="store.html">Swimwear</a></li>
                                        <li><a href="store.html">Trousers & Chinos</a></li>
                                        <li><a href="store.html">T-Shirts</a></li>
                                        <li><a href="store.html">Underwear & Socks</a></li>
                                        <li><a href="store.html">Vests</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Popular Brands</h4>
                                    <ul>
                                        <li><a href="store.html">Levis</a></li>
                                        <li><a href="store.html">Persol</a></li>
                                        <li><a href="store.html">Nike</a></li>
                                        <li><a href="store.html">Edwin</a></li>
                                        <li><a href="store.html">New Balance</a></li>
                                        <li><a href="store.html">Jack & Jones</a></li>
                                        <li><a href="store.html">Paul Smith</a></li>
                                        <li><a href="store.html">Ray-Ban</a></li>
                                        <li><a href="store.html">Wood Wood</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li><a class="pink" href="gifts.html">gifts</a></li>
                <li class="grid"><a  href="#">stores</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <ul>
                                        <li><a href="store.html">Accessories</a></li>
                                        <li><a href="store.html">Bags</a></li>
                                        <li><a href="store.html">Caps & Hats</a></li>
                                        <li><a href="store.html">Hoodies & Sweatshirts</a></li>
                                        <li><a href="store.html">Jackets & Coats</a></li>
                                        <li><a href="store.html">Jeans</a></li>
                                        <li><a href="store.html">Jewellery</a></li>
                                        <li><a href="store.html">Jumpers & Cardigans</a></li>
                                        <li><a href="store.html">Leather Jackets</a></li>
                                        <li><a href="store.html">Long Sleeve T-Shirts</a></li>
                                        <li><a href="store.html">Loungewear</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <ul>
                                        <li><a href="store.html">Shirts</a></li>
                                        <li><a href="store.html">Shoes, Boots & Trainers</a></li>
                                        <li><a href="store.html">Shorts</a></li>
                                        <li><a href="store.html">Suits & Blazers</a></li>
                                        <li><a href="store.html">Sunglasses</a></li>
                                        <li><a href="store.html">Sweatpants</a></li>
                                        <li><a href="store.html">Swimwear</a></li>
                                        <li><a href="store.html">Trousers & Chinos</a></li>
                                        <li><a href="store.html">T-Shirts</a></li>
                                        <li><a href="store.html">Underwear & Socks</a></li>
                                        <li><a href="store.html">Vests</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Popular Brands</h4>
                                    <ul>
                                        <li><a href="store.html">Levis</a></li>
                                        <li><a href="store.html">Persol</a></li>
                                        <li><a href="store.html">Nike</a></li>
                                        <li><a href="store.html">Edwin</a></li>
                                        <li><a href="store.html">New Balance</a></li>
                                        <li><a href="store.html">Jack & Jones</a></li>
                                        <li><a href="store.html">Paul Smith</a></li>
                                        <li><a href="store.html">Ray-Ban</a></li>
                                        <li><a href="store.html">Wood Wood</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <div class="cart icon1 sub-icon1">
            <a style="color: rgba(67,171,60,0.74);" [routerLink]="['/item/new']">Đăng mặt hàng để bán...</a>
<!--            <h6 >Shopping Cart:-->
<!--                <span class="item">3 items</span>-->
<!--                <span class="rate">70$</span>-->
<!--                <li><a href="#" class="round"> </a>-->
<!--                    <ul class="sub-icon1 list">-->
<!--                        <h3>Recently added items(3)</h3>-->
<!--                        <div class="shopping_cart">-->
<!--                            <div class="cart_box">-->
<!--                                <div class="message">-->
<!--                                    <div class="alert-close"> </div>-->
<!--                                    <div class="list_img"><img src="../../content/images/si.jpg" class="img-responsive" alt=""></div>-->
<!--                                    <div class="list_desc"><h4><a href="#">velit esse molestie</a></h4>-->

<!--                                        <a href="#" class="offer">1 offer applied</a>-->
<!--                                    </div>-->
<!--                                    <div class="clearfix"></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="cart_box">-->
<!--                                <div class="message1">-->
<!--                                    <div class="alert-close1"> </div>-->
<!--                                    <div class="list_img"><img src="../../content/images/si1.jpg" class="img-responsive" alt=""></div>-->
<!--                                    <div class="list_desc"><h4><a href="#">velit esse molestie</a></h4>-->

<!--                                        <a href="#" class="offer">1 offer applied</a>-->
<!--                                    </div>-->
<!--                                    <div class="clearfix"></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="cart_box">-->
<!--                                <div class="message2">-->
<!--                                    <div class="alert-close2"> </div>-->
<!--                                    <div class="list_img"><img src="../../content/images/si.jpg" class="img-responsive" alt=""></div>-->
<!--                                    <div class="list_desc"><h4><a href="#">velit esse molestie</a></h4>-->

<!--                                        <a href="#" class="offer">1 offer applied</a>-->
<!--                                    </div>-->
<!--                                    <div class="clearfix"></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="check_button"><a href="cart.html">View Cart</a></div>-->
<!--                        <div class="clearfix"></div>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </h6>-->

        </div>
        <div class="clearfix"> </div>
    </div>
<!--    <div class="page">-->
<!--        <h6><a href="#">Page Title</a><b>|</b>Page description The quick, brown <span class="for">fox jumps over a lazy dog. DJs flock by when TV ax quiz prog.</span></h6>-->
<!--    </div>-->
    <div class="content">

        <div class="col-md-9">
            <div class="shoe">
                <img class="img-responsive" src="../../content/images/banner.jpg" alt="" >
                <div class="shop">
                    <h4>SHOP <span>WOMEN</span></h4>
                    <p>SHOES FALL 2014</p>
                </div>
            </div>
            <div class="content-bottom">
                <h3>Mặt hàng mới đăng</h3>
                <div *ngIf="doneLoad">
                    <jhi-combo-item-card *ngFor="let combo of comboItemCount; let idx = index"
                                         [item_1]="items[idx * 3]"
                                         [item_2]="items[idx * 3 + 1]"
                                         [item_3]="items[idx * 3 + 2]">
                    </jhi-combo-item-card>
                </div>
            </div>
            <ul class="start">
                <div class="bl-foot fix-bottom" *ngIf="items && items.length > 0">
                    <div class="txt-pag text-center">Đang xem {{items ? items.length : 0}} trong số {{total}} kết quả</div>
                    <ul class="pagination justify-content-center">
                        <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)">
                        </ngb-pagination>
                    </ul>
                </div>
            </ul>
        </div>

        <div class="col-md-3 col-md">
            <div class=" possible-about">
                <h4>Lọc kết quả</h4>
                <div class="tab1">
                    <ul class="place">

                        <li class="sort">Sort by <span>price</span></li>
                        <li class="by"><img src="../../content/images/do.png" alt=""></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <div class="single-bottom">


                        <a href="#">
                            <input type="checkbox"  id="brand" value="">
                            <label for="brand"><span></span><b>Rs.3000-Rs.4000</b></label>
                        </a>
                        <a href="#">
                            <input type="checkbox"  id="brand1" value="">
                            <label for="brand1"><span></span> <b>Rs.3000-Rs.2000</b></label>
                        </a>
                        <a href="#">
                            <input type="checkbox"  id="brand2" value="">
                            <label for="brand2"><span></span> <b>Rs.2000-Rs.1000</b></label>
                        </a>
                        <a href="#">
                            <input type="checkbox"  id="brand3" value="">
                            <label for="brand3"><span></span> <b>Rs.1000-Rs.500</b></label>
                        </a>
                        <a href="#">
                            <input type="checkbox"  id="brand4" value="">
                            <label for="brand4"><span></span><b>Rs.500-below</b></label>
                        </a>

                    </div>

                </div>
                <div class="tab2">
                    <ul class="place">

                        <li class="sort">Sort by <span>brands</span></li>
                        <li class="by"><img src="../../content/images/do.png" alt=""></li>
                        <div class="clearfix"> </div>
                    </ul>

                    <div class="single-bottom">


                        <a href="#">
                            <input type="checkbox"  id="nike" value="">
                            <label for="nike"><span></span><b>Nike</b></label>
                        </a>
                        <a href="#">
                            <input type="checkbox"  id="nike1" value="">
                            <label for="nike1"><span></span> <b>Reebok</b></label>
                        </a>
                        <a href="#">
                            <input type="checkbox"  id="nike2" value="">
                            <label for="nike2"><span></span><b> Fila</b></label>
                        </a>
                        <a href="#">
                            <input type="checkbox"  id="nike3" value="">
                            <label for="nike3"><span></span> <b>Puma</b></label>
                        </a>
                        <a href="#">
                            <input type="checkbox"  id="nike4" value="">
                            <label for="nike4"><span></span><b>Sparx</b></label>
                        </a>
                    </div>

                </div>
                <div class="tab3">
                    <ul class="place">

                        <li class="sort">Sort by <span>colour</span> </li>
                        <li class="by"><img src="../../content/images/do.png" alt=""></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <ul class="w_nav2">
                        <li><a class="color1" href="#"></a></li>
                        <li><a class="color2" href="#"></a></li>
                        <li><a class="color3" href="#"></a></li>
                        <li><a class="color4" href="#"></a></li>
                        <li><a class="color5" href="#"></a></li>
                        <li><a class="color6" href="#"></a></li>
                        <li><a class="color7" href="#"></a></li>
                        <li><a class="color8" href="#"></a></li>
                        <li><a class="color9" href="#"></a></li>
                        <li><a class="color10" href="#"></a></li>
                        <li><a class="color12" href="#"></a></li>
                        <li><a class="color13" href="#"></a></li>
                        <li><a class="color14" href="#"></a></li>
                        <li><a class="color15" href="#"></a></li>
                        <li><a class="color5" href="#"></a></li>
                        <li><a class="color6" href="#"></a></li>
                        <li><a class="color7" href="#"></a></li>
                        <li><a class="color8" href="#"></a></li>
                        <li><a class="color9" href="#"></a></li>
                        <li><a class="color10" href="#"></a></li>
                    </ul>
                </div>
                <div class="tab4">
                    <ul class="place">

                        <li class="sort">Sort by <span>discount</span> </li>
                        <li class="by"><img src="../../content/images/do.png" alt=""></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <div class="single-bottom">


                        <a href="#">
                            <input type="checkbox"  id="up" value="">
                            <label for="up"><span></span><b>Upto 10%</b></label>
                        </a>
                        <a href="#">
                            <input type="checkbox"  id="up1" value="">
                            <label for="up1"><span></span> <b>10%-20%</b></label>
                        </a>
                        <a href="#">
                            <input type="checkbox"  id="up2" value="">
                            <label for="up2"><span></span> <b>20%-30%</b></label>
                        </a>
                        <a href="#">
                            <input type="checkbox"  id="up3" value="">
                            <label for="up3"><span></span> <b>30%-40%</b></label>
                        </a>
                        <a href="#">
                            <input type="checkbox"  id="up4" value="">
                            <label for="up4"><span></span><b>40%-50%</b></label>
                        </a>

                    </div>
                </div>
                <div class="tab5">
                    <ul class="place">

                        <li class="sort">Sort by <span>rating</span> </li>
                        <li class="by"><img src="../../content/images/do.png" alt=""></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <div class="star-at">
                        <div class="two">
                            <a href="#"> <i></i>  </a>
                            <a href="#"> <i></i>  </a>
                            <a href="#"> <i></i>  </a>
                            <a href="#"> <i></i>  </a>
                            <a href="#"> <i></i>  </a>
                        </div>
                        <div class="two">
                            <a href="#"> <i></i>  </a>
                            <a href="#"> <i></i>  </a>
                            <a href="#"> <i></i>  </a>
                            <a href="#"> <i></i>  </a>

                        </div>
                        <div class="two">
                            <a href="#"> <i></i>  </a>
                            <a href="#"> <i></i>  </a>
                            <a href="#"> <i></i>  </a>

                        </div>
                        <div class="two">
                            <a href="#"> <i></i>  </a>
                            <a href="#"> <i></i>  </a>

                        </div>
                    </div>

                </div>

            </div>
            <div class="content-bottom-grid">
                <h5>Mặt hàng xem nhiều nhất</h5>
                <div class="latest-grid" *ngFor="let item of bestViewItems">
                    <div class="news">
                        <a>
                            <img style="width: 57px; height: 56px" class="img-responsive" src="http://localhost:8888/{{ item.images[0].name }}" title="name" alt="">
                        </a>
                    </div>
                    <div class="news-in">
                        <h6><a href="single.html">{{item.name}}</a></h6>
                        <p>{{item.desc}}</p>
                        <ul>
                            <li>Price: <span>${{item.price}}</span> </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!---->
<!--            <div class="money">-->
<!--                <h3>Payment Options</h3>-->
<!--                <ul class="money-in">-->
<!--                    <li><a href="single.html"><img class="img-responsive" src="../../content/images/p1.png" title="name" alt=""></a></li>-->
<!--                    <li><a href="single.html"><img class="img-responsive" src="../../content/images/p2.png" title="name" alt=""></a></li>-->
<!--                    <li><a href="single.html"><img class="img-responsive" src="../../content/images/p3.png" title="name" alt=""></a></li>-->
<!--                    <li><a href="single.html"><img class="img-responsive" src="../../content/images/p4.png" title="name" alt=""></a></li>-->
<!--                    <li><a href="single.html"><img class="img-responsive" src="../../content/images/p5.png" title="name" alt=""></a></li>-->
<!--                    <li><a href="single.html"><img class="img-responsive" src="../../content/images/p6.png" title="name" alt=""></a></li>-->
<!--                    <li><a href="single.html"><img class="img-responsive" src="../../content/images/p1.png" title="name" alt=""></a></li>-->
<!--                    <li><a href="single.html"><img class="img-responsive" src="../../content/images/p4.png" title="name" alt=""></a></li>-->
<!--                    <li><a href="single.html"><img class="img-responsive" src="../../content/images/p2.png" title="name" alt=""></a></li>-->

<!--                </ul>-->
<!--            </div>-->
        </div>
        <div class="clearfix"> </div>
    </div>
    <!---->
    <div class="footer">
        <p class="footer-class">© MiniMarket.vn </p>

        <a href="#headerTop" class="scroll to-Top" >  Lên đầu trang</a>
        <div class="clearfix"> </div>
    </div>
</div>
