<div class="screen">
  <div class="background">
      <app-item class="item"></app-item>
      <app-item class="item"></app-item>
      <app-item class="item"></app-item>
      <app-item class="item"></app-item>
      <app-item class="item"></app-item>
      <div class="page">
        <div width="100" height="100" class="left_button">
            <a href="#" class="previous round" (click)="previous_page()">&#8249;</a>
        </div>
        <div class="number">
          <p>1</p>
        </div>
        <div class="number">
          <p>2</p>
        </div>
        <div class="number">
          <p>3</p>
        </div>
        <div class="number">
          <p>4</p>
        </div>
        <div class="number">
          <p>5</p>
        </div>
        <div width="100" height="100" class="right_button" >
            <a href="#" class="next round" (click)="next_page()" >&#8250; </a>
        </div>
      </div>
  </div>
</div>
