<div class="background" (click)="view_item()">

  <div class="image">
      <img *ngIf="item.images.length > 0" src="http://localhost:8888/{{ item.images[0].name }}" width="150" height="150" onerror="src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/1024px-No_image_3x4.svg.png'">
      <img *ngIf="item.images.length === 0" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/1024px-No_image_3x4.svg.png" width="150" height="150">
  </div>

  <div class="content">
      <div class="row">
          <h3>{{ item.name }}</h3>
          <p class="price">Giá: {{ item.price }}đ</p>
      </div>
    <div class="row">
        <p>Địa chỉ: {{ item.price }}</p>
    </div>
      <div class="row">
          <p>Ngày đăng: {{ item.createdDate | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
      </div>
      <div class="row">
          <p>Người đăng:</p>
      </div>
  </div>

</div>
