.image {
    float: left;
    height: 200px;
    width: 200px;
    text-align: left;
}

.content {
    float: left;
    height: 200px;
    width: 500px;
    text-align: left;
}

.save {
    float: left;
    height: 200px;
    width: 100px;
}

.background {
    background-color: white;
    text-align: center;
    display: inline-block;
    color: black;
    height: 200px;
    width: 800px;
}

.price {
    font-size: 20px;
    float: bottom;
    margin-left: 20px;
    color: rgba(255, 116, 16, 0.84);
}
