<div class="screen">
    <div class="background">
        <div class="toolbox">
            <label style="margin-right: 10px ;font-size: 25px">User toolbox</label>
            <button class="btn btn-success" [routerLink]="['/item/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span>
                Create new Item
                </span>
            </button>
        </div>
        <div class="split_horizontal"></div>
        <div class="content">
            <div *ngFor="let item of items">
                <app-item-card-user [item]="item"></app-item-card-user>
                <div class="split_horizontal"></div>
            </div>
            <div class="page">
                <ul class="pagination justify-content-center">
                    <li [ngClass]="current_page === 1 ? 'page-item disabled' : 'page-item'">
                        <a class="page-link"  aria-label="First page" (click)="first_page()">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">First Page</span>
                        </a>
                    </li>
                    <li [ngClass]="current_page === 1 ? 'page-item disabled' : 'page-item'"><a class="page-link"  (click)="previous_page()">Previous</a></li>
                    <div *ngFor="let page of list_page" >
                        <li [ngClass]="current_page === page ? 'page-item active' : 'page-item'"><a class="page-link" (click)="set_page(page)">{{ page }}</a></li>
                    </div>
                    <li [ngClass]="current_page === number_of_page ? 'page-item disabled' : 'page-item'"><a class="page-link" (click)="next_page()">Next</a></li>
                    <li [ngClass]="current_page === number_of_page ? 'page-item disabled' : 'page-item'">
                        <a class="page-link"  aria-label="Last page" (click)="last_page()">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Last Page</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
