<div class="ml-lg-5 mr-lg-5">
    <h2 id="page-heading">
        <span jhiTranslate="miniMarketApp.item.home.title">Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-item" [routerLink]="['/item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="miniMarketApp.item.home.createLabel">
            Create new Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="items">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                <th><span>#</span></th>
                <th><span>Tên mặt hàng</span></th>
                <th><span>Mô tả</span></th>
                <th><span>Giá</span></th>
                <th><span>Trạng thái</span></th>
                <th><span>Tình trạng</span></th>
                <th><span>Mã mặt hàng</span></th>
                <th><span>Ghi chú</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of items; let idx = index; trackBy: trackId">
                <td>{{(page - 1) * itemsPerPage + idx + 1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.desc}}</td>
                <td>{{item.price}}</td>
                <td *ngIf="item.state">Mới 100%</td>
                <td *ngIf="!item.state">Đã qua sử dụng</td>
                <td *ngIf="item.isAvailable" style="color: #0fa91c">Còn hàng</td>
                <td *ngIf="!item.isAvailable" style="color: #7d701b">Hết hàng</td>
                <td>{{item.id}}</td>
                <td>{{item.note}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/item', item.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Chi tiết</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/item', item.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Chỉnh sửa</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'item/'+ item.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="items && items.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
