<div class="background">

  <div class="image">
    <img src="{{ item_des.Item_image_url }}" width="150" height="150">
  </div>

  <div class="content">
    <h3>{{ item_des.Item_name }}</h3>
    <div>
      <p>Price: {{ item_des.Item_price }} | Address: {{ item_des.Item_address }} | Date time: {{ item_des.Item_date_time }}</p>
    </div>
    <div>
      <p>User name: {{ item_des.User_name }} | User rating: {{ item_des.User_rating }}</p>
    </div>
  </div>

  <div class="save">
    <h1 (click)="save_item()">Save</h1>
  </div>


</div>
